- content_for :title, "Kyle Rand | Connect"
- content_for :description, "Have a project that's lacking a technical element? Get in touch, let's work together!"
.container
  %h1.white.centered.bold
    Let's work together!
  .connect-container
    %p.lead
      If you're working on a problem that would benefit from a technical solution, get in touch with me! Bonus points if:
    %ul{ style: 'font-size: 18px; line-height: 36px;'}
      %li You're a mission-driven organization working to change the world
      %li Your goals are unique and your dreams are intimidating
      %li You believe in data-driven decision making
      %li You work outside of the boundaries of large corporations
      %li Your project has anything to do with the brain or human thought
    %br
    = link_to 'Connect with me!', 'mailto:krand7@gmail.com', class: 'btn btn-custom btn-block btn-lg'
