.header
  - 4.times do
    %br
  .centered
    = image_tag 'social/name_cutout_3', width: 300
  - 3.times do
    %br
  %h1.centered.white
    %strong
      %span#kyle-describer
  - 3.times do
    %br
  .row
    .col-xs-2
    .col-xs-1
      #callout-0.callout-landing
    .col-xs-1
      #callout-1.callout-landing
    .col-xs-1
      #callout-2.callout-landing
    .col-xs-1
      #callout-3.callout-landing
    .col-xs-1
      #callout-4.callout-landing
    .col-xs-1
      #callout-5.callout-landing
    .col-xs-1
      #callout-6.callout-landing
    .col-xs-1
      #callout-7.callout-landing
