.container
  - @blog_posts.each do |bp|
    = render bp, preview: true
    - unless bp == @blog_posts.last
      %hr

  - if current_user and current_user.kyle?
    %hr
    = link_to 'New', new_blog_post_path
