- content_for :title, 'Kyle Rand | Blog'
- content_for :description, 'The widespread musings of a developer/engineer/scientist'

.container
  - @blog_posts.each do |bp|
    .blog-post-container
      = render bp, preview: true

  - if current_user and current_user.kyle?
    .blog-post-container
      = link_to 'New post', new_blog_post_path
