$primary: #00D0FF;
$secondary: #333;

$white: #fff;
$lightest-gray: #efefef;
$lighter-gray: #ddd;
$light-gray: #bbb;
$dark-gray: #777;
$darker-gray: #333;
$darkest-gray: #101010;
$black: #000;

.white { color: $white; }
