$primary: #00d0ff;
$secondary: #3f51b5;

$white: #fff;
$lightest-gray: #efefef;
$lighter-gray: #ddd;
$light-gray: #bbb;
$dark-gray: #777;
$darker-gray: #333;
$darkest-gray: #101010;
$black: #000;

.white { color: $white; }

.primary { color: $primary; }

.secondary { color: $secondary; }
