.header {
  background-color: $primary;
  color: $secondary;
  height: 100vh;
}

.callout-landing {
  $callout-size: 40px;
  background-color: $white;
  border-radius: $callout-size/2;
  display: none;
  height: $callout-size;
  margin: auto;
  text-align: center;
  width: $callout-size;
}

@media (max-width: $screen-sm) {
  .callout-landing {
    margin-bottom: 20px;
  }
}
